#[submodule "non-exist"]
	# it is actually git, but the URL is broken
#	path = git
#	url = ../notexist
[submodule "entropy"]
	path = entropy
	url = ../entropy
[submodule "anotherone"]
	path = anotherone
	url = https://github.com/stefanbeller/entropy
[submodule "zuletzt"]
	path = zuletzt
	url = https://github.com/stefanbeller/entropy
